@if (showModal()) {
  <div
    class="fixed inset-0 z-50 flex items-start justify-center overflow-y-auto pt-10"
    [@fade]
    (click)="onBackdropClick($event)"
  >
    <!-- Backdrop -->
    <div
      class="fixed inset-0 bg-black/50"
      (click)="onBackdropClick($event)"
    ></div>

    <!-- Modal content wrapper -->
    <div
      [@fade]
      class="relative z-10 mx-auto max-w-full px-4 sm:px-0"
      [style.width]="width()"
      (click)="$event.stopPropagation()"
    >
      <div class="max-h-[90vh] overflow-y-auto rounded-lg bg-white shadow-lg">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
