<!-- RIDERS SCREEN -->
<div class="screen active" id="screen-riders">
  <div class="top-header">
    <div class="header-left">
      <h1>Manage</h1>
      <h2>Riders & Bikes</h2>
    </div>
    <div class="header-actions">
      <div
        class="icon-btn"
        (click)="
          isRiders()
            ? toggleAddRiderModal('rider')
            : toggleAddRiderModal('bike')
        "
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
        >
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" />
        </svg>
      </div>
    </div>
  </div>

  <div class="tabs" style="margin-bottom: 16px">
    <div
      class="tab"
      [class.active]="isRiders()"
      (click)="isRiders.set(true)"
      id="ridersTabBtn"
    >
      Riders
    </div>
    <div
      class="tab"
      [class.active]="!isRiders()"
      (click)="isRiders.set(false)"
      id="bikesTabBtn"
    >
      Bikes
    </div>
  </div>

  @if (isRiders()) {
    <div id="riders-panel">
      <div id="ridersList">
        <!-- Empty State -->
        @if (riders_data() === null) {
          <div class="empty-state">
            <div class="es-icon">👤</div>
            <h3>No riders yet</h3>
            <p>Add your first rider using the button below</p>
          </div>
        }

        @for (rider of riders_data(); track $index) {
          <div class="rider-card">
            <div class="rider-header">
              <div
                class="rider-avatar"
                [style.background]="
                  'hsl(' + (($index * 137.5) % 360) + ', 70%, 45%)'
                "
              >
                {{ rider.full_name.split(' ').map(name => name.charAt(0)).join('').toUpperCase() }}
              </div>

              <div class="rider-info">
                <div class="rider-name">{{ rider.full_name }}</div>
                <div class="rider-bike">
                  {{ rider.phone_number }} · {{ rider.license_no }}
                </div>
              </div>

              <!-- <span class="status-pill status-paid">Active</span> -->
            </div>

            <div class="rider-stats">
              <div class="rider-stat">
                <div class="rv">KES {{ rider.daily_target }}</div>
                <div class="rl">Daily Target</div>
              </div>

              <!-- <div class="rider-stat">
              <div class="rv">2</div>
              <div class="rl">Missed Days</div>
            </div> -->

              <div class="rider-stat">
                <div class="rv">{{ rider.outstanding_debt }}</div>
                <div class="rl">Outstanding Debt</div>
              </div>
            </div>

            <div class="rider-actions">
              <button
                class="btn-sm primary"
                (click)="toggleAddRiderModal('edit-rider', rider)"
              >
                Edit
              </button>
              <!-- <button class="btn-sm">History</button> -->
              <button class="btn-sm danger" (click)="removeAsset(rider)">
                Remove
              </button>
            </div>
          </div>
        }
      </div>
      <div style="padding: 0 20px; margin-top: 4px">
        <button
          class="btn-modal-primary"
          (click)="toggleAddRiderModal('rider')"
          style="width: 100%; border-radius: 12px"
        >
          + Add New Rider
        </button>
      </div>
    </div>
  } @else {
    <div id="bikes-panel">
      <div id="bikesList">
        @if (bikes_data() === null) {
          <!-- Empty State -->
          <div class="empty-state">
            <div class="es-icon">🏍️</div>
            <h3>No bikes yet</h3>
            <p>Add your motorcycle using the button below</p>
          </div>
        } @else {
          @for (bike of bikes_data(); track $index) {
            <!-- Bike Card -->
            <div class="bike-card">
              <div class="bike-header">
                <div class="bike-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#772ef7"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-motorbike-icon lucide-motorbike"
                  >
                    <path d="m18 14-1-3" />
                    <path d="m3 9 6 2a2 2 0 0 1 2-2h2a2 2 0 0 1 1.99 1.81" />
                    <path
                      d="M8 17h3a1 1 0 0 0 1-1 6 6 0 0 1 6-6 1 1 0 0 0 1-1v-.75A5 5 0 0 0 17 5"
                    />
                    <circle cx="19" cy="17" r="3" />
                    <circle cx="5" cy="17" r="3" />
                  </svg>
                </div>

                <div class="bike-info">
                  <div class="bike-name">{{ bike.name }}</div>
                  <div class="bike-plate">
                    {{ bike.plate_number }} · {{ bike.model }}
                  </div>
                </div>

                <div class="bike-status">
                  <div
                    class="status-dot"
                    [class]="riders_data().find(rider => rider.motorcycle_id === bike.id)?.full_name ? 'active' : 'maintenance'"
                  ></div>
                  <span style="font-size: 12px; color: var(--text-muted)">
                    {{ `${riders_data().find(rider => rider.motorcycle_id === bike.id)?.full_name ? bike.status : 'inactive'} ` }}
                  </span>
                </div>
              </div>

              <div
                style="
                  font-size: 13px;
                  color: var(--text-muted);
                  margin-bottom: 12px;
                "
              >
                Assigned to:
                <strong style="color: var(--text)"
                  >{{ riders_data().find(rider => rider.motorcycle_id === bike.id)?.full_name }}
                </strong>
              </div>

              <div class="rider-actions">
                <!-- <button
                  class="btn-sm primary"
                  (click)="toggleAddRiderModal('edit-bike')"
                >
                  Edit
                </button>

                <button class="btn-sm danger">Remove</button> -->
              </div>
            </div>
          }
        }
      </div>
      <div style="padding: 0 20px; margin-top: 4px">
        <button
          class="btn-modal-primary"
          (click)="toggleAddRiderModal('bike')"
          style="width: 100%; border-radius: 12px"
        >
          + Add New Bike
        </button>
      </div>
    </div>
  }
</div>

<!-- modals -->
<!-- edit rider -->
@if (isEditRiderModal()) {
  <app-modal (backdropClick)="toggleAddRiderModal('edit-rider')">
    <div class="modal-sheet">
      <div
        class="modal-handle"
        (click)="toggleAddRiderModal('edit-rider')"
      ></div>
      <div class="modal-title text-center">Edit Rider</div>

      <form [formGroup]="editRiderForm">
        <!-- fullname -->
        <div class="modal-field">
          <label>Full Name</label>
          <input type="text" formControlName="full_name" />
          @if (
            riderForm.get("full_name")?.invalid &&
            riderForm.get("full_name")?.touched
          ) {
            <small class="text-red-500">Please enter a valid Name.</small>
          }
        </div>

        <!-- Phone Number -->
        <div class="modal-field">
          <label>Phone Number</label>
          <input type="tel" formControlName="phone_number" />
          @if (
            riderForm.get("phone_number")?.invalid &&
            riderForm.get("phone_number")?.touched
          ) {
            <small class="text-red-500"
              >Please enter a valid Phone Number.</small
            >
          }
        </div>

        <!-- Daily target -->
        <div class="modal-field">
          <label>Daily Target (KES)</label>
          <input type="number" formControlName="daily_target" min="0" />
          @if (
            riderForm.get("daily_target")?.invalid &&
            riderForm.get("daily_target")?.touched
          ) {
            <small class="text-red-500">Please enter a valid amount.</small>
          }
        </div>

        <!-- Motorcycle  -->
        <div class="modal-field">
          <label for="payRider">Motorcycle</label>
          <select formControlName="motorcycle_id">
            @for (ride of bikes_data(); track ride.id) {
              <option [value]="ride.id">
                {{ ride.model }} - {{ ride.plate_number }}
              </option>
            }
          </select>
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="btn-modal-cancel"
            (click)="toggleAddRiderModal('edit-rider')"
          >
            Cancel
          </button>
          <button
            type="submit"
            [class]="
              editRiderForm.invalid
                ? 'btn-primary bg-slate-300! text-slate-400!'
                : 'btn-modal-primary'
            "
            [disabled]="editRiderForm.invalid"
            (click)="onEditRiderSubmit()"
          >
            Edit Rider
          </button>
        </div>
      </form>
    </div>
  </app-modal>
}

<!-- add rider -->
@if (isAddRiderModal()) {
  <app-modal (backdropClick)="toggleAddRiderModal('rider')">
    <div class="modal-sheet">
      <div class="modal-handle" (click)="toggleAddRiderModal('rider')"></div>
      <div class="modal-title text-center">Add Rider</div>

      <form [formGroup]="riderForm">
        <!-- fullname -->
        <div class="modal-field">
          <label>Full Name</label>
          <input type="text" formControlName="full_name" />
          @if (
            riderForm.get("full_name")?.invalid &&
            riderForm.get("full_name")?.touched
          ) {
            <small class="text-red-500">Please enter a valid Name.</small>
          }
        </div>

        <!-- Phone Number -->
        <div class="modal-field">
          <label>Phone Number</label>
          <input type="tel" formControlName="phone_number" />
          @if (
            riderForm.get("phone_number")?.invalid &&
            riderForm.get("phone_number")?.touched
          ) {
            <small class="text-red-500"
              >Please enter a valid Phone Number.</small
            >
          }
        </div>

        <!-- License Number -->
        <div class="modal-field">
          <label>License Number</label>
          <input type="text" formControlName="license_no" />
          @if (
            riderForm.get("license_no")?.invalid &&
            riderForm.get("license_no")?.touched
          ) {
            <small class="text-red-500"
              >Please enter a valid License Number.</small
            >
          }
        </div>

        <!-- Daily target -->
        <div class="modal-field">
          <label>Daily Target (KES)</label>
          <input type="number" formControlName="daily_target" min="0" />
          @if (
            riderForm.get("daily_target")?.invalid &&
            riderForm.get("daily_target")?.touched
          ) {
            <small class="text-red-500">Please enter a valid amount.</small>
          }
        </div>

        <!-- Motorcycle  -->
        <div class="modal-field">
          <label for="payRider">Motorcycle</label>
          <select formControlName="motorcycle_id">
            @for (ride of bikes_data(); track ride.id) {
              <option [value]="ride.id">
                {{ ride.model }} - {{ ride.plate_number }}
              </option>
            }
          </select>
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="btn-modal-cancel"
            (click)="toggleAddRiderModal('rider')"
          >
            Cancel
          </button>
          <button
            type="submit"
            [class]="
              riderForm.invalid
                ? 'btn-primary bg-slate-300! text-slate-400!'
                : 'btn-modal-primary'
            "
            [disabled]="riderForm.invalid"
            (click)="onAddRiderSubmit()"
          >
            Add Rider
          </button>
        </div>
      </form>
    </div>
  </app-modal>
}

<!-- add bike -->
@if (isAddBikeModal()) {
  <app-modal (backdropClick)="toggleAddRiderModal('bike')">
    <div class="modal-sheet">
      <div class="modal-handle" (click)="toggleAddRiderModal('bike')"></div>
      <div class="modal-title text-center">Add Motorcycle</div>

      <form [formGroup]="bikeForm">
        <!-- name -->
        <div class="modal-field">
          <label>Name</label>
          <input type="text" formControlName="name" />
          @if (bikeForm.get("name")?.invalid && bikeForm.get("name")?.touched) {
            <small class="text-red-500">Please enter a valid Name.</small>
          }
        </div>

        <!-- Plate Number -->
        <div class="modal-field">
          <label>Plate Number</label>
          <input type="text" formControlName="plate_number" />
          @if (
            bikeForm.get("plate_number")?.invalid &&
            bikeForm.get("plate_number")?.touched
          ) {
            <small class="text-red-500"
              >Please enter a valid Plate Number.</small
            >
          }
        </div>

        <!-- Model -->
        <div class="modal-field">
          <label>Make or Model</label>
          <input type="text" formControlName="model" />
          @if (
            bikeForm.get("model")?.invalid && bikeForm.get("model")?.touched
          ) {
            <small class="text-red-500">Please enter a valid Model.</small>
          }
        </div>

        <!-- Year -->
        <div class="modal-field">
          <label>Year</label>
          <input
            type="number"
            formControlName="year"
            min="1900"
            [max]="currentYear"
            placeholder="e.g. 2021"
            inputmode="numeric"
            pattern="[0-9]*"
          />
          @if (bikeForm.get("year")?.invalid && bikeForm.get("year")?.touched) {
            <small class="text-red-500">
              Please enter a valid year between 1900 and {{ currentYear }}.
            </small>
          }
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="btn-modal-cancel"
            (click)="toggleAddRiderModal('bike')"
          >
            Cancel
          </button>
          <button
            type="submit"
            [class]="
              bikeForm.invalid
                ? 'btn-primary bg-slate-300! text-slate-400!'
                : 'btn-modal-primary'
            "
            [disabled]="bikeForm.invalid"
            (click)="onAddBikeSubmit()"
          >
            Add Bike
          </button>
        </div>
      </form>
    </div>
  </app-modal>
}
