@if (isSubmitting()) {
  <app-loading />
} @else {
  <div class="" id="screen-auth">
    <!-- logo -->
    <div class="auth-logo">
      <svg width="44" height="44" viewBox="0 0 44 44" fill="none">
        <path
          d="M7 31C7 31 12 21 22 21C32 21 37 13 37 13"
          stroke="white"
          stroke-width="3.5"
          stroke-linecap="round"
        />
        <circle cx="9" cy="33" r="5" fill="white" />
        <circle cx="35" cy="33" r="5" fill="white" />
        <path d="M9 33H35" stroke="white" stroke-width="2.5" />
        <circle cx="22" cy="15" r="3.5" fill="rgba(255,255,255,0.7)" />
      </svg>
    </div>
    <!-- titles -->
    <div class="auth-title">BodaTrack</div>
    <div class="auth-sub">Your boda boda business, organized</div>

    <div class="auth-card">
      <h2>Welcome back</h2>
      @if (isSignup()) {
        <app-input
          inputLabel="User Name"
          inputType="text"
          inputPlaceholder="Enter User name"
          [field]="loginForm.name"
        />
      }

      <app-input
        inputLabel="Email"
        inputType="email"
        inputPlaceholder="Enter Email"
        [field]="loginForm.email"
      />

      <app-input
        inputLabel="Password"
        inputType="password"
        inputPlaceholder="Enter Password"
        [field]="loginForm.password"
      />

      <app-button
        [isValid]="formValid"
        [buttonTitle]="isSignup() ? 'Register' : 'Sign In'"
        (buttonClick)="isSignup() ? handleSignupSubmit() : handleLoginSubmit()"
        [isSubmitting]="isSubmitting()"
      />

      <p
        style="
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          text-align: center;
          margin-top: 14px;
        "
      >
        Don't have an account.
        <span
          class="font-bold underline cursor-pointer"
          (click)="toggleSignup()"
          >Register</span
        >
      </p>
    </div>
  </div>
}
