<div
  class="fixed inset-0 z-50 bottom-16 flex items-end justify-center overflow-hidden"
  (click)="onBackdropClick($event)"
>
  <!-- Backdrop (z-40) -->
  <div
    class="fixed inset-0 z-40 backdrop-blur-[1px] bg-black/50"
    [@backdrop]
    (click)="onBackdropClick($event)"
  ></div>

  <!-- Modal content wrapper (z-50) -->
  <div
    class="relative z-50 w-full"
    (click)="$event.stopPropagation()"
    [@bottomSheet]
  >
    <div class="max-h-[90vh] overflow-y-auto rounded-t-lg shadow-lg">
      <ng-content></ng-content>
    </div>
  </div>
</div>
