<!-- Bottom Nav -->
<!-- [browserUrl]="'/home'" -->

<nav class="bottom-nav">
  <a
    (click)="toggleAddModal(false)"
    routerLink=""
    class="nav-item"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    data-screen="home"
  >
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
      <polyline points="9 22 9 12 15 12 15 22" />
    </svg>
    <span>Home</span>
  </a>
  <a
    (click)="toggleAddModal(false)"
    routerLink="reports"
    class="nav-item"
    routerLinkActive="active"
    data-screen="report"
  >
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <line x1="18" y1="20" x2="18" y2="10" />
      <line x1="12" y1="20" x2="12" y2="4" />
      <line x1="6" y1="20" x2="6" y2="14" />
    </svg>
    <span>Report</span>
  </a>
  <div class="nav-center">
    <button class="nav-fab" (click)="toggleAddModal()">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
      >
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
    </button>
  </div>
  <a
    (click)="toggleAddModal(false)"
    routerLink="riders"
    routerLinkActive="active"
    class="nav-item"
    data-screen="riders"
  >
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
      <circle cx="9" cy="7" r="4" />
      <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
      <path d="M16 3.13a4 4 0 0 1 0 7.75" />
    </svg>
    <span>Riders</span>
  </a>
  <a
    routerLink="settings"
    routerLinkActive="active"
    class="nav-item"
    data-screen="settings"
    (click)="toggleAddModal(false)"
  >
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <circle cx="12" cy="12" r="3" />
      <path
        d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1-2.83 2.83l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83-2.83l.06-.06A1.65 1.65 0 0 0 4.68 15a1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 2.83-2.83l.06.06A1.65 1.65 0 0 0 9 4.68a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 2.83l-.06.06A1.65 1.65 0 0 0 19.4 9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1z"
      />
    </svg>
    <span>Settings</span>
  </a>
</nav>

@if (isModal()) {
  <app-modal (backdropClick)="toggleAddModal(false)">
    <div class="modal-sheet">
      <div class="modal-handle" (click)="toggleAddModal(false)"></div>
      <div class="modal-title">💰 Record Payment</div>

      <form [formGroup]="paymentForm">
        <div class="modal-field">
          <label for="payRider">Rider</label>
          <select formControlName="rider_id" (change)="onRiderChange($event)">
            @for (rider of riders_data(); track rider.id) {
              <option [value]="rider.id">{{ rider.full_name }}</option>
            }
          </select>
        </div>

        <div class="modal-field">
          <label>Date</label>
          <input type="date" formControlName="date" />
        </div>

        <div class="modal-field">
          <label>Status</label>
          <select formControlName="method">
            <option value="mpesa">Mpesa Transaction</option>
            <option value="cash">Cash Payment</option>
          </select>
        </div>

        <div class="modal-field">
          <label>Amount (KES)</label>
          <input type="number" formControlName="amount" min="0" />
          @if (
            paymentForm.get("amount")?.invalid &&
            paymentForm.get("amount")?.touched
          ) {
            <small class="text-red-500">Please enter a valid amount.</small>
          }
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="btn-modal-cancel"
            (click)="toggleAddModal(false)"
          >
            Cancel
          </button>
          <button
            type="submit"
            [class]="
              paymentForm.invalid
                ? 'btn-primary bg-slate-300! text-slate-400!'
                : 'btn-modal-primary'
            "
            [disabled]="paymentForm.invalid"
            (click)="onSubmit()"
          >
            Record Payment
          </button>
        </div>
      </form>
    </div>
  </app-modal>
}
